In [1]:
import pandas as pd
from scipy.stats import spearmanr,kendalltau

In [2]:
df = pd.read_csv("ICC_allTime_top_10_batter.csv")
df

,ICC_rank,name,country,prelim_metric,prelim_rank,prelim_rank.1,kmeans_role,rbml_score,RBML_rank,pca_score,PCA_rank,hussey_index,hussey_rank
0,1,SA Yadav,IND,79.477,1,1,LCB,0.499,6,0.055,6,218.72,1
1,2,Mohammad Rizwan,PAK,62.466,3,3,F,0.555,1,0.177,1,176.37,7
2,3,AK Markram,SA,58.858,4,4,LCB,0.500,5,0.059,5,188.87,4
3,4,Babar Azam,PAK,53.260,6,6,F,0.538,2,0.122,2,169.88,8
4,5,RR Rossouw,SA,55.703,5,5,LCB,0.488,10,0.010,10,194.65,3
5,6,DJ Malan,ENG,48.200,9,9,LCB,0.504,4,0.070,4,168.87,9
6,7,Muhammad Waseem,UAE,66.472,2,2,F,0.529,3,0.083,3,195.00,2
7,8,JC Buttler,ENG,50.645,7,7,LCB,0.494,8,0.037,8,179.67,5
8,9,AJ Finch,AUS,48.859,8,8,LCB,0.493,9,0.035,9,176.81,6
9,10,RR Hendricks,SA,41.293,10,10,LCB,0.496,7,0.043,7,162.18,10

In [3]:
ranks = df[["name","ICC_rank","prelim_rank","RBML_rank","PCA_rank","hussey_rank"]]
ranks

              name  ICC_rank  prelim_rank  RBML_rank  PCA_rank  hussey_rank
0         SA Yadav         1            1          6         6            1
1  Mohammad Rizwan         2            3          1         1            7
2       AK Markram         3            4          5         5            4
3       Babar Azam         4            6          2         2            8
4       RR Rossouw         5            5         10        10            3
5         DJ Malan         6            9          4         4            9
6  Muhammad Waseem         7            2          3         3            2
7       JC Buttler         8            7          8         8            5
8         AJ Finch         9            8          9         9            6
9     RR Hendricks        10           10          7         7           10

In [10]:
ranks.sort_values(by="hussey_rank")[['name','hussey_rank']]

              name  hussey_rank
0         SA Yadav            1
6  Muhammad Waseem            2
4       RR Rossouw            3
2       AK Markram            4
7       JC Buttler            5
8         AJ Finch            6
1  Mohammad Rizwan            7
3       Babar Azam            8
5         DJ Malan            9
9     RR Hendricks           10

#### Prelim Rank Correlation

In [8]:
print(spearmanr(ranks["ICC_rank"],ranks["prelim_rank"]))
print(kendalltau(ranks["ICC_rank"],ranks["prelim_rank"]))

SpearmanrResult(correlation=0.7454545454545454, pvalue=0.013330146315440047)
KendalltauResult(correlation=0.6444444444444444, pvalue=0.009148478835978836)

#### RBML Rank Correlation

In [9]:
print(spearmanr(ranks["ICC_rank"],ranks["RBML_rank"]))
print(kendalltau(ranks["ICC_rank"],ranks["RBML_rank"]))

SpearmanrResult(correlation=0.4666666666666666, pvalue=0.17393859716506632)
KendalltauResult(correlation=0.28888888888888886, pvalue=0.2912483465608466)

#### PCA Rank Correlation

In [10]:
print(spearmanr(ranks["ICC_rank"],ranks["PCA_rank"]))
print(kendalltau(ranks["ICC_rank"],ranks["PCA_rank"]))

SpearmanrResult(correlation=0.4666666666666666, pvalue=0.17393859716506632)
KendalltauResult(correlation=0.28888888888888886, pvalue=0.2912483465608466)

#### Hussey Rank Correlation

In [11]:
print(spearmanr(ranks["ICC_rank"],ranks["hussey_rank"]))
print(kendalltau(ranks["ICC_rank"],ranks["hussey_rank"]))

SpearmanrResult(correlation=0.406060606060606, pvalue=0.24428229408662638)
KendalltauResult(correlation=0.3333333333333333, pvalue=0.21637345679012346)